* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}

header {
	margin-top: 20px;
	/* margin-right: 400px; */
	margin-bottom: 20px;
	font-size: 1.5rem;
	color: black;
}

body {
	background-color: white;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	margin: 10vh;
	padding: 2vw;
}

.customerBox {
	color: black;
	display: block;
	font-size: 0.85rem;
	padding: 30px;
	/* border-radius: 50%;
	/* background: linear-gradient(rgba(255, 153, 200, 1), rgba(194, 175, 240, 1)); */

	margin: 10px;
}

.largePhoto {
	border-radius: 50% 80%;
}

li {
	list-style-type: none;
}

.customerEmail {
	color: dimgray;
	font-size: 0.85rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

.customerAddressLine2 {
	padding-bottom: 0.3rem;
}
